//
// Spacing
//

// base

html,
body,
#react-dom,
.fill-height {
  height: 100%;
}

.fill-width {
  width: 100%;
}

// grid

.row--fill {
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}

// sections

.section--padded {
  padding: 2rem 1.5rem;
}

.section--padded:not(:nth-child(1)) {
  padding-top: 0;
}
